.craft {
  padding: 46px 60px 85px;
  background: #c3cee0;
  border-radius: 20px;
}
.craft__title {
  max-width: 905px;
  color: #1b202b;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 110%;
}
.craft__description {
  color: #000;
  font-size: 30px;
}

.craft-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 121px;
}

.craft-container-backpack {
  position: relative;
  width: 45%;
}
.craft-container-backpack:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 107.3267326733%;
}
.craft-container-backpack > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.craft-container-info {
  flex-basis: 50%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.35s ease-in;
  transition-delay: 1.5s;
  margin-bottom: 100px;
  margin-right: 40px;
}
.craft-container-info.show {
  opacity: 1;
  visibility: visible;
}
.craft-container-info__text {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  max-width: 270px;
}
.craft-container-info .btn {
  padding: 24px 39px;
  border-radius: 100px;
}

.craft-container-thing {
  position: absolute;
}
.craft-container-thing:hover {
  cursor: pointer;
  animation: swing 1s ease;
  animation-iteration-count: infinite;
}
.craft-container-thing.ready::after {
  opacity: 1;
}
.craft-container-thing.ready:hover {
  cursor: default;
}
.craft-container-thing::after {
  content: attr(data-text);
  padding: 14px 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #f2f3ee;
  background: #109de0;
  border-radius: 14px;
  border-bottom-left-radius: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 0.35s ease-in;
  transition-delay: 1s;
}
.craft-container-thing img {
  width: 100%;
}
.craft-container-thing--merch {
  width: 316px;
  bottom: 20px;
  right: -20px;
  animation: none;
  z-index: 2;
}
.craft-container-thing--merch::after {
  right: -141px;
  top: 75px;
}
.craft-container-thing--merch.ready {
  animation: merch 1s linear forwards;
}
.craft-container-thing--money {
  width: 320px;
  right: 237px;
  top: 32px;
  z-index: 1;
}
.craft-container-thing--money::after {
  right: -76px;
  top: 89px;
}
.craft-container-thing--money.ready {
  animation: money 1s linear forwards;
}
.craft-container-thing--laptop {
  width: 340px;
  top: 237px;
  right: 285px;
  z-index: 0;
}
.craft-container-thing--laptop::after {
  right: -13px;
  top: 119px;
}
.craft-container-thing--laptop.ready {
  animation: laptop 1s linear forwards;
}
.craft-container-thing--corporative {
  width: 262px;
  top: 0;
  right: -30px;
  z-index: 2;
}
.craft-container-thing--corporative::after {
  right: -76px;
  top: 89px;
  transform: rotate(38deg) translate(107px, 38px);
}
.craft-container-thing--corporative.ready {
  animation: corporative 1s linear forwards;
}
.craft-container-thing--badge {
  width: 352px;
  right: 260px;
  bottom: -70px;
}
.craft-container-thing--badge::after {
  right: 6px;
  top: 149px;
}
.craft-container-thing--badge.ready {
  animation: badge 1s linear forwards;
}

@keyframes money {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-15%, -15%);
  }
  100% {
    transform: translate(-103%, 66%);
  }
}
@keyframes laptop {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-124%, 7%);
  }
}
@keyframes corporative {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-356%, 109%) rotate(-38deg);
  }
}
@keyframes badge {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-93%, -19%);
  }
}
@keyframes merch {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-267%, -77%);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}