<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/scss/layout.css">
    <link rel="stylesheet" href="../static/scss/services.css">
    <link rel="stylesheet" href="../static/scss/craft.css">
    <link rel="stylesheet" href="../static/scss/advertisement.css">
    <link rel="stylesheet" href="../static/scss/stats.css">
    <link rel="stylesheet" href="../static/scss/vacancy.css">
    <link rel="stylesheet" href="../static/scss/hero.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- hero -->
<div class="hero-container">
    <div class="container">
        <div class="hero">
            <img width="257" height="41" src="../img/logo.svg" alt="">

            <div class="hero-content">
                <div class="hero__title">
                    В&nbsp;поиске <span>коллег</span>
                </div>

                <div class="hero__description">
                    Ищем тех, кто не боится экспериментов
                    и готов стать гуру продаж в онлайн-
                    маркетинге
                </div>
            </div>

            <a class="btn" href="#">Посмотреть все вакансии</a>
        </div>
    </div>
</div>

<!-- vacancy -->
<section class="vacancy">
    <div class="container">
        <div class="vacancy-container">
            <div class="vacancy-title">Выбирай направление и присоединяйся к команде</div>
            <div class="vacancy-tabs">
                <div class="vacancy-tab">Москва</div>
                <div class="vacancy-tab">Санкт-Петербург</div>
                <div class="vacancy-tab active">Екатеринбург</div>
                <div class="vacancy-tab">Новосибирск</div>
                <div class="vacancy-tab">Нижний Новгород</div>
                <div class="vacancy-tab">Воронеж</div>
                <div class="vacancy-tab">Казань</div>
            </div>
            <div class="vacancy-list">
                <div class="vacancy-item">
                    <div class="vacancy-item__title">Специалист по&nbsp;продажам</div>
                    <div class="vacancy-item__text">Быстро понимаешь потребности клиентов и успешно закрываешь сделки</div>
                    <img class="first" width="" src="../img/ya_business.svg" alt="">
                </div>
                <div class="vacancy-item">
                    <div class="vacancy-item__title">Менеджер по продаже рекламы</div>
                    <div class="vacancy-item__text">Не боишься холодных продаж</div>
                    <img class="second" src="../img/ya_direct.svg" alt="">
                </div>
                <div class="vacancy-item">
                    <div class="vacancy-item__title">Менеджер по работе с&nbsp;клиентами</div>
                    <div class="vacancy-item__text">Уже работал с рекламными инструментами продаж в B2B</div>
                    <img class="first" src="../img/ya_business.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- stats -->
<section class="stats">
    <div class="container">
        <div class="stats__title">Спорим, ты точно хотя бы один раз слышал о Яндекс Рекламе?</div>
        <div class="stats__text">Создаем удобные инструменты для решения задач бизнеса на всех этапах воронки продаж — от охвата новой аудитории, вовлечения потенциальных клиентов и создания эмоциональной связи с брендом до ретаргетинга.</div>
        <div class="stats__text">В команде ты погрузишься в бизнес-контекст клиентов, разберешься в разных рынках и маркетинговых инструментах — все, чтобы разработать максимально эффективное решение для каждого.</div>

        <div class="stats-list">
            <div class="stats-item">
                <div class="stats-item__title">400 000+</div>
                <div class="stats-item__text">просмотров рекламы в России</div>
            </div>
            <div class="stats-item">
                <div class="stats-item__title">2 500 000+</div>
                <div class="stats-item__text">рекламных кампаний в&nbsp;месяц</div>
            </div>
            <div class="stats-item">
                <div class="stats-item__title">97%</div>
                <div class="stats-item__text">рунета ежемесячно узнают о продуктах наших клиентов</div>
            </div>
        </div>
    </div>
</section>

<!-- our services -->
<section class="services">
    <div class="container">
        <div class="services__title">Наши сервисы</div>
        <div class="services-list">
            <div class="services-item">
                <img src="../img/icon1.png" alt="">
                <div class="services-item__title">Бизнес</div>
            </div>
            <div class="services-item">
                <img src="../img/icon2.png" alt="">
                <div class="services-item__title">Adfox</div>
            </div>
            <div class="services-item">
                <img src="../img/icon3.png" alt="">
                <div class="services-item__title">Директ</div>
            </div>
            <div class="services-item">
                <img src="../img/icon4.png" alt="">
                <div class="services-item__title">Взгляд</div>
            </div>
            <div class="services-item">
                <img src="../img/icon5.png" alt="">
                <div class="services-item__title">Метрика</div>
            </div>
            <div class="services-item">
                <img src="../img/icon6.png" alt="">
                <div class="services-item__title">Рекламная сеть</div>
            </div>
            <div class="services-item">
                <img src="../img/icon7.png" alt="">
                <div class="services-item__title">Мобильная медиация</div>
            </div>
            <div class="services-item">
                <img src="../img/icon8.png" alt="">
                <div class="services-item__title">App Metrica</div>
            </div>
            <div class="services-item">
                <img src="../img/icon9.png" alt="">
                <div class="services-item__title">K50</div>
            </div>
        </div>
    </div>
</section>

<!-- advertisement -->
<section class="advertisement">
    <div class="advertisement-wrapper">
        <div class="container">
            <div class="advertisement__title">Почему Яндекс Реклама — это круто</div>
            <div class="advertisement__description">Заботимся о сотрудниках, чтобы они заботились о клиентах</div>
        </div>
        <div class="advertisement-list">
            <div class="advertisement-item">
                <div class="advertisement-item__title">
                    <span>Платим</span> в рынке
                </div>
                <div class="advertisement-item__text">
                    В Екатеринбурге опытный менеджер Яндекс Рекламы
                    в среднем зарабатывает от 80 000 до 119 000 рублей в месяц
                    в зависимости от функционала
                </div>
            </div>
            <div class="advertisement-item">
                <div class="advertisement-item__title">
                    Заботимся о <span>здоровье</span>
                </div>
                <div class="advertisement-item__text">
                    ДМС для сотрудников, включая стоматологию, коррекцию зрения,
                    вакцинации, комплексные обследования, телемедицину, а также
                    доплата больничного до ежемесячного оклада, компенсация до 80%
                    ДМС супругов и детей
                </div>
            </div>
            <div class="advertisement-item">
                <div class="advertisement-item__title">
                    Крутой <span>офис</span>
                </div>
                <div class="advertisement-item__text">
                    Мы занимаем 6 этажей в высотке
                    на улице Хохрякова, в 10 минутах ходьбы от станции метро.
                    Предоставляем нашим сотрудникам комфортные рабочие места,
                    уютные переговорки и пространства для отдыха. Кроме этого,
                    у нас проходят занятия йогой и организованы пространства для
                    игры в пинг-понг и настольный футбол
                </div>
            </div>
            <div class="advertisement-item">
                <div class="advertisement-item__title">
                    <span>А еще</span>
                </div>
                <div class="advertisement-item__text">
                    Бесплатная подписка на Яндекс. Плюс, компенсация питания,
                    приятные скидки от партнеров, спортзал, корпоративная ипотека
                    и всевозможная поддержка на всех уровнях
                </div>
            </div>
        </div>

        <a class="btn" href="#">Откликнуться на вакансии</a>
    </div>
</section>

<!-- craft -->
<section class="craft-block">
    <div class="container">
        <div class="craft">
            <div class="craft__title">
                Собери свой пак<br>
                профессионального рекламщика
            </div>
            <div class="craft__description">
                из того, что неприменно ждет тебя на новом рабочем месте
            </div>
            <div class="craft-container">
                <div class="craft-container-backpack">
                    <img src="../img/backpack.png" alt="backpack">
                </div>
                <div class="craft-container-things">
                    <div class="craft-container-thing craft-container-thing--merch" data-text="Шикарный мерч">
                        <img src="../img/merch.png" alt="merch">
                    </div>
                    <div class="craft-container-thing craft-container-thing--money" data-text="Достойная зарплата">
                        <img src="../img/money.png" alt="money">
                    </div>
                    <div class="craft-container-thing craft-container-thing--laptop" data-text="Личный ноут">
                        <img src="../img/laptop.png" alt="laptop">
                    </div>
                    <div class="craft-container-thing craft-container-thing--corporative" data-text="Кайфовые корпоративы">
                        <img src="../img/corporative.png" alt="corporative">
                    </div>
                    <div class="craft-container-thing craft-container-thing--badge" data-text="Волшебный бейдж">
                        <img src="../img/badge.png" alt="badge">
                    </div>
                    <div class="craft-container-info">
                        <div class="craft-container-info__text">Теперь ты точно укомплектован :)</div>
                        <a class="btn" href="#">Присоединяйся к нам!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../static/js/index.js"></script>
</body>
</html>