<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/scss/layout.css">
    <link rel="stylesheet" href="../static/scss/craft.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<section class="craft-block">
    <div class="container">
        <div class="craft">
            <div class="craft__title">
                Собери свой пак<br>
                профессионального рекламщика
            </div>
            <div class="craft__description">
                из того, что неприменно ждет тебя на новом рабочем месте
            </div>
            <div class="craft-container">
                <div class="craft-container-backpack">
                    <img src="../img/backpack.png" alt="backpack">
                </div>
                <div class="craft-container-things">
                    <div class="craft-container-thing craft-container-thing--merch" data-text="Шикарный мерч">
                        <img src="../img/merch.png" alt="merch">
                    </div>
                    <div class="craft-container-thing craft-container-thing--money" data-text="Достойная зарплата">
                        <img src="../img/money.png" alt="money">
                    </div>
                    <div class="craft-container-thing craft-container-thing--laptop" data-text="Личный ноут">
                        <img src="../img/laptop.png" alt="laptop">
                    </div>
                    <div class="craft-container-thing craft-container-thing--corporative" data-text="Кайфовые корпоративы">
                        <img src="../img/corporative.png" alt="corporative">
                    </div>
                    <div class="craft-container-thing craft-container-thing--badge" data-text="Волшебный бейдж">
                        <img src="../img/badge.png" alt="badge">
                    </div>
                    <div class="craft-container-info">
                        <div class="craft-container-info__text">Теперь ты точно укомплектован :)</div>
                        <a class="btn" href="#">Присоединяйся к нам!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../static/js/index.js"></script>
</body>
</html>