.craft-block {
  background-color: #e2e9f5;
}
@media screen and (min-width: 1024px) {
  .craft-block {
    padding: 30px 0 60px;
  }
}
@media screen and (min-width: 1366px) {
  .craft-block {
    padding: 50px 0 80px;
    border-radius: 0 0 40px 40px;
  }
}
@media screen and (min-width: 1600px) {
  .craft-block {
    padding: 60px 0 100px;
    border-radius: 0 0 50px 50px;
  }
}
@media screen and (min-width: 1920px) {
  .craft-block {
    padding: 60px 0 140px;
    border-radius: 0 0 60px 60px;
  }
}

.craft {
  padding: 46px 60px 85px;
  background: #c3cee0;
  border-radius: 14px;
}
@media screen and (min-width: 1024px) {
  .craft {
    padding: 32px 84px 60px;
    border-radius: 14px;
  }
}
@media screen and (min-width: 1366px) {
  .craft {
    padding: 32px 109px 60px;
  }
}
@media screen and (min-width: 1600px) {
  .craft {
    padding: 38px 45px 70px;
    border-radius: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .craft {
    padding: 46px 60px 85px;
    border-radius: 20px;
  }
}
.craft__title {
  max-width: 905px;
  color: #1b202b;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
}
@media screen and (min-width: 1024px) {
  .craft__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1366px) {
  .craft__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1600px) {
  .craft__title {
    font-size: 44px;
  }
}
@media screen and (min-width: 1920px) {
  .craft__title {
    font-size: 50px;
  }
}
.craft__description {
  color: #000;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  .craft__description {
    font-size: 18px;
  }
}
@media screen and (min-width: 1366px) {
  .craft__description {
    font-size: 22px;
  }
}
@media screen and (min-width: 1600px) {
  .craft__description {
    font-size: 26px;
  }
}
@media screen and (min-width: 1920px) {
  .craft__description {
    font-size: 30px;
  }
}

.craft-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 85px;
}
@media screen and (min-width: 1024px) {
  .craft-container {
    padding-top: 85px;
  }
}
@media screen and (min-width: 1366px) {
  .craft-container {
    padding-top: 77px;
  }
}
@media screen and (min-width: 1600px) {
  .craft-container {
    padding-top: 90px;
  }
}
@media screen and (min-width: 1920px) {
  .craft-container {
    padding-top: 121px;
  }
}

.craft-container-backpack {
  position: relative;
  width: 45%;
}
.craft-container-backpack:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 107.3267326733%;
}
.craft-container-backpack > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.craft-container-info {
  flex-basis: 50%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.35s ease-in;
  transition-delay: 1.5s;
  margin-bottom: 100px;
  margin-right: 40px;
}
.craft-container-info.show {
  opacity: 1;
  visibility: visible;
}
.craft-container-info__text {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  max-width: 270px;
}
.craft-container-info .btn {
  padding: 24px 39px;
  border-radius: 100px;
}

.craft-container-thing {
  position: absolute;
  animation: swing-out 0.35s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.craft-container-thing:hover {
  cursor: pointer;
  animation: swing 1s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.craft-container-thing.ready::after {
  opacity: 1;
}
.craft-container-thing.ready:hover {
  cursor: default;
}
.craft-container-thing::after {
  content: attr(data-text);
  line-height: 28px;
  font-weight: 500;
  color: #f2f3ee;
  background: #109de0;
  border-radius: 14px;
  border-bottom-left-radius: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 0.35s ease-in;
  transition-delay: 1s;
  pointer-events: none;
}
@media screen and (min-width: 1600px) {
  .craft-container-thing::after {
    padding: 6px 13px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .craft-container-thing::after {
    padding: 14px 20px;
    font-size: 24px;
  }
}
.craft-container-thing img {
  width: 100%;
}
.craft-container-thing--merch {
  z-index: 2;
}
.craft-container-thing--merch::after {
  right: -141px;
  top: 75px;
}
@media screen and (min-width: 1600px) {
  .craft-container-thing--merch {
    width: 270px;
    bottom: -10px;
    right: -20px;
  }
  .craft-container-thing--merch::after {
    right: -75px;
    top: 75px;
  }
}
@media screen and (min-width: 1920px) {
  .craft-container-thing--merch {
    width: 316px;
    bottom: 20px;
    right: -20px;
  }
  .craft-container-thing--merch::after {
    right: -141px;
    top: 75px;
  }
}
.craft-container-thing--merch.ready {
  animation: merch 0.8s linear forwards;
}
.craft-container-thing--money {
  z-index: 1;
}
.craft-container-thing--money::after {
  right: -76px;
  top: 89px;
}
@media screen and (min-width: 1600px) {
  .craft-container-thing--money {
    width: 270px;
    right: 218px;
    top: 14px;
  }
  .craft-container-thing--money::after {
    right: -76px;
    top: 70px;
  }
}
@media screen and (min-width: 1920px) {
  .craft-container-thing--money {
    width: 320px;
    right: 237px;
    top: 32px;
  }
  .craft-container-thing--money::after {
    right: -76px;
    top: 89px;
  }
}
.craft-container-thing--money.ready {
  animation: money 0.8s linear forwards;
}
.craft-container-thing--laptop {
  z-index: 0;
}
.craft-container-thing--laptop::after {
  right: -13px;
  top: 119px;
}
@media screen and (min-width: 1600px) {
  .craft-container-thing--laptop {
    width: 275px;
    top: 203px;
    right: 245px;
  }
  .craft-container-thing--laptop::after {
    right: 5px;
    top: 99px;
  }
}
@media screen and (min-width: 1920px) {
  .craft-container-thing--laptop {
    width: 340px;
    top: 237px;
    right: 285px;
  }
  .craft-container-thing--laptop::after {
    right: -13px;
    top: 119px;
  }
}
.craft-container-thing--laptop.ready {
  animation: laptop 0.8s linear forwards;
}
.craft-container-thing--corporative {
  z-index: 2;
}
@media screen and (min-width: 1600px) {
  .craft-container-thing--corporative {
    width: 217px;
    top: 0;
    right: -20px;
  }
}
@media screen and (min-width: 1920px) {
  .craft-container-thing--corporative {
    width: 262px;
    top: 0;
    right: -30px;
  }
}
.craft-container-thing--corporative::after {
  right: -76px;
  top: 89px;
  transform: rotate(38deg) translate(107px, 38px);
}
.craft-container-thing--corporative.ready {
  animation: corporative 1s linear forwards;
}
@media screen and (min-width: 1600px) {
  .craft-container-thing--badge {
    width: 292px;
    right: 230px;
    bottom: -70px;
  }
}
@media screen and (min-width: 1920px) {
  .craft-container-thing--badge {
    width: 352px;
    right: 260px;
    bottom: -70px;
  }
}
.craft-container-thing--badge::after {
  right: 6px;
  top: 149px;
}
.craft-container-thing--badge.ready {
  animation: badge 0.6s linear forwards;
}

@keyframes money {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-103%, 66%);
  }
}
@keyframes laptop {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-124%, 7%);
  }
}
@keyframes corporative {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-356%, 109%) rotate(-38deg);
  }
}
@keyframes badge {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-93%, -19%);
  }
}
@keyframes merch {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-267%, -77%);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
  }
  15% {
    -webkit-transform: translateX(5px) scale(1.08);
    transform: translateX(5px) scale(1.08);
  }
  30% {
    -webkit-transform: translateX(-5px) scale(1.08);
    transform: translateX(-5px) scale(1.08);
  }
  50% {
    -webkit-transform: translateX(3px) scale(1.08);
    transform: translateX(3px) scale(1.08);
  }
  65% {
    -webkit-transform: translateX(-3px) scale(1.08);
    transform: translateX(-3px) scale(1.08);
  }
  80% {
    -webkit-transform: translateX(2px) scale(1.08);
    transform: translateX(2px) scale(1.08);
  }
  100% {
    -webkit-transform: translateX(0) scale(1.08);
    transform: translateX(0) scale(1.08);
  }
}
@keyframes swing-out {
  0% {
    -webkit-transform: translateX(0px) scale(1.08);
    transform: translateX(0px) scale(1.08);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}

/*# sourceMappingURL=craft.css.map */
